.chat__messagesWrapper {
    flex: 1;
    overflow: hidden visible;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat__messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &::-webkit-scrollbar {
        display: none;
    }

    .chat__messageItemWrapper {
        color: #d7c6b5;
        width: 100%;
        height: fit-content;
        background-color: #32353b;
        padding: 2em 1em 2em 1em;
        display: flex;
        column-gap: 0.5em;

        .chat__messageItemImage {
            border-radius: 50%;
            width: 45px;
            height: 45px;
            background-color: #eee;
            margin: 0 0.5em 0 0.5em;
        }

        .chat__messageItem {
            display: flex;
            flex-direction: column;

            .chat__messageItemHeader {
                font-weight: bold;
                color: rgb(0, 255, 200);

                span {
                    font-size: 0.7rem;
                    color: rgb(107, 107, 107);
                    margin-left: 1em;
                }
            }
        }
    }
}
